<div id="content">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="box">
               <h1>New account</h1>
                    <p class="lead">Not our registered customer yet?</p>
                    <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                    <p class="text-muted">If you have any questions, please feel free to  contact us, our customer service center is working for you 24/7.</p>
                    <hr>
                    <%= form_for(@user) do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <div class="form-group">
                            <%= f.label :name %>
                            <%= f.text_field :name, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.label :email %>
                            <%= f.email_field :email, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password %>
                            <%= f.password_field :password, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password_confirmation, "Confirmation" %>
                            <%= f.password_field :password_confirmation , class: 'form-control'%>
                        </div>
                        <div class="text-center">
                            <%= f.submit "Register", class: "btn btn-primary" %>
                        </div>        
                <% end %>         
            </div>
        </div>
    </div>
</div>
