<div id="footer" data-animate="fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h4><%= t "more" %></h4>
        <ul>
          <li><a href="#"><%= t "about" %></a></li>
          <li><a href="#"><%= t "termsandconditions" %></a></li>
          <li><a href="#"><%= t "faq" %></a></li>
          <li><a href=#><%= t "contact" %></a></li>
        </ul>
        <hr>
        <h4><%= t "user_section" %></h4>
        <hr class="hidden-md hidden-lg hidden-sm">
      </div>
      <div class="col-md-4 col-sm-6">
        <h4><%= t "getnew" %></h4>
        <p class="text-muted"><%= t "email" %></p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><%= t "commit" %>
              </button>
            </span>
          </div>
        </form>
        <hr>
          <p class="social">
            <a href="#" class="facebook external" data-animate-hover="shake">
              <i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter external" data-animate-hover="shake">
              <i class="fa fa-twitter"></i></a>
            <a href="#" class="instagram external" data-animate-hover="shake">
              <i class="fa fa-instagram"></i></a>
            <a href="#" class="gplus external" data-animate-hover="shake">
              <i class="fa fa-google-plus"></i></a>
            <a href="#" class="email external" data-animate-hover="shake">
              <i class="fa fa-envelope"></i></a>
          </p>
      </div>
    </div>
  </div>
</div>
<div id="copyright">
  <div class="container">
    <div class="col-md-6">
      <p class="pull-left">©<%= t "company" %></p>
    </div>
    <div class="col-md-6">
      <p class="pull-right">
        <a href="https://bootstrapious.com/e-commerce-templates" >
        </a><%= t "bootstrap" %></p>
    </div>
  </div>
</div>
